{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "polyfill-corejs3",
      {
        "method": "usage-global",
        "version": "3.49"
      }
    ]
  ]
}
